.vault-layout {
    margin: 1rem 1.2rem;
}

.vault-base {
    margin: 0;
    /* display: grid;
    grid-template-columns: 15.625rem 1fr; */
    overflow: visible;
    gap: 1rem;
    
}

.vault-base .vault-sidebar {
    /* border: 3px solid var(--border-color); */
    top: 5rem;
    text-align: center;
    position: sticky;
    /* height: 100vh; */
    padding: 0 .8rem;
    border-radius: .5rem;
    margin: 0 auto;
}

.vault-base .vault-sidebar .clear-vault {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.vault-base .vault-sidebar .clear-vault button {
    display: flex;
    flex: .2;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    white-space: nowrap;
    background: transparent;
    border: none;
    width: 2rem;
    padding: .8rem 0;
}


.vault-base .vault-sidebar .clear-vault button i {
    font-size: 2rem;
    color: var(--accent);
}

.vault-base .vault-sidebar .clear-vault button span {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
}


.vault-base .vault-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .5rem;
    padding: 1rem;
    height: 100vh;
}

.vault-base .vault-items .item-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--card-color);
    width: 12rem;
    height: 28rem;
    border-top-left-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: default;
    padding: .5rem;
}

.vault-base .vault-items img {
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    border-top-left-radius: 2rem;
    display: flex;
    margin: 0;
    margin-top: .5rem;
}

.vault-base .vault-items .rmvbtn {
    background-color: var(--highlight-color);
    border: none;
    color: var(--text-color);
    padding: 0.5rem 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1rem;
    transition: .15s ease-out;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
    }
}